<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently an Engineer at
      <a class="underline-link" href="https://www.zs.com/" target="_blank">ZS Associates</a>, where I worked with multiple Fortune 500 US-based pharma companies to help respond to client queries and deliver insights. I recently graduated from
      <a class="underline-link" href="http://puchd.ac.in/" target="_blank">Panjab University</a>, where I built a strong foundation in engineering and problem-solving.
    </p>

    <p>
      As a software engineer, I love bridging engineering and design—fusing technical expertise with a keen eye for detail to create beautiful, scalable products. 
      I strive to build applications that are efficient under the hood while delivering engaging, pixel-perfect user experiences.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, you’ll find me reading books, swimming, playing badminton, or exploring the outdoors—
      whether riding my bike through bustling streets or enjoying a peaceful walk in the park.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
